%h1 Servers

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th Players
      %th Map
      %th Address
      %th
  %tbody
    - status.each do |server|
      %tr
        %td= server[:name]
        %td #{ server[:players].count }/#{ server[:maxplayers] }
        %td= server[:map]
        %td #{ server[:query][:host] }:#{ server[:query][:port] }
        %td
          %a.btn.btn-mini.btn-success{href: "q2online://connect/action/#{server[:query][:host]}:#{server[:query][:port]}"} Join
