%h1 Servers

%table#sv-table.table.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th Players
      %th Map
      %th Address
      %th Country
      %th
  %tbody
    - @status_list.each do |status|
      %tr{ "data-toggle": "modal", "data-target": "##{status[:extras][:snaked_name]}" }
        %td= status[:hostname]
        %td= "#{status[:players].count}/#{status[:maxclients]}"
        %td= status[:mapname]
        %td= "#{status[:extras][:address]}:#{status[:extras][:port]}"
        %td= status[:extras][:country]
        %td
          %a.btn.btn-mini.btn-success{href: "q2online://connect/action/#{status[:extras][:address]}:#{status[:port]}"} Join
          = render "sv_info_table", status: status
